In [8]:
# data
# prediction

In [9]:
import pandas as pd

In [10]:
df_train = pd.read_csv('train.csv')

In [11]:
df_train.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature73,feature74,feature75,feature76,feature77,feature78,feature79,feature80,feature81,critical_temperature
0,4,95.950150,87.221940,89.534122,81.423258,1.317590,1.301059,96.1190,20.285800,36.105357,...,4.10,4.053600,3.944244,1.339718,1.245504,3,1.400000,1.299038,1.135782,21.50
1,5,83.244760,59.224400,59.506081,36.126175,1.311510,1.372050,192.9810,25.192187,67.233835,...,2.40,2.402249,2.259897,1.519383,1.365077,3,0.933333,1.200000,1.019804,62.00
2,2,23.035850,26.647510,21.192566,25.010514,0.614232,0.435817,18.0583,18.243490,9.029150,...,5.10,4.242641,4.873514,0.636514,0.465999,3,3.300000,1.500000,1.374773,0.29
3,4,81.756699,79.833804,76.282833,75.275775,1.312596,1.149324,81.4820,28.789976,32.890369,...,3.62,3.309751,3.413039,1.333736,1.019322,3,1.920000,1.118034,1.198165,19.50
4,2,67.485250,69.699016,57.442709,59.574464,0.548263,0.521345,70.8405,39.638078,35.420250,...,6.00,6.000000,6.000000,0.693147,0.691193,0,0.375000,0.000000,0.000000,5.36

In [16]:
target = df_train['critical_temperature']
train_data = df_train.drop('critical_temperature', axis=1)

In [18]:
train_data.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature72,feature73,feature74,feature75,feature76,feature77,feature78,feature79,feature80,feature81
0,4,95.950150,87.221940,89.534122,81.423258,1.317590,1.301059,96.1190,20.285800,36.105357,...,4.25,4.10,4.053600,3.944244,1.339718,1.245504,3,1.400000,1.299038,1.135782
1,5,83.244760,59.224400,59.506081,36.126175,1.311510,1.372050,192.9810,25.192187,67.233835,...,2.60,2.40,2.402249,2.259897,1.519383,1.365077,3,0.933333,1.200000,1.019804
2,2,23.035850,26.647510,21.192566,25.010514,0.614232,0.435817,18.0583,18.243490,9.029150,...,4.50,5.10,4.242641,4.873514,0.636514,0.465999,3,3.300000,1.500000,1.374773
3,4,81.756699,79.833804,76.282833,75.275775,1.312596,1.149324,81.4820,28.789976,32.890369,...,3.50,3.62,3.309751,3.413039,1.333736,1.019322,3,1.920000,1.118034,1.198165
4,2,67.485250,69.699016,57.442709,59.574464,0.548263,0.521345,70.8405,39.638078,35.420250,...,6.00,6.00,6.000000,6.000000,0.693147,0.691193,0,0.375000,0.000000,0.000000

In [19]:
target.head()

0    21.50
1    62.00
2     0.29
3    19.50
4     5.36
Name: critical_temperature, dtype: float64

In [20]:
import sklearn

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [24]:
model.fit(train_data, target)

LinearRegression()

In [25]:
df_test = pd.read_csv('test.csv')

In [26]:
model.predict(df_test)

array([ 69.38523776,  21.59580162,  21.04717688, ...,  24.01820592,
        13.83126116, -17.52712392])

In [27]:
from pprint import pprint as pp

In [30]:
pp(model.predict(df_test)[:5])

array([69.38523776, 21.59580162, 21.04717688, 67.31234028, 33.94042546])

In [31]:
df_test.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature72,feature73,feature74,feature75,feature76,feature77,feature78,feature79,feature80,feature81
0,5,82.324574,88.533544,64.110667,72.640059,1.418486,1.179961,122.90607,38.757614,48.331141,...,2.4,2.151429,2.352158,2.126646,1.589027,1.361750,1,0.814286,0.489898,0.358466
1,4,115.438500,90.562624,107.211420,88.713057,1.308571,1.157701,122.45400,37.743936,47.516249,...,4.0,3.632000,3.722419,3.504866,1.320888,1.064083,4,1.504000,1.414214,0.853567
2,4,92.290900,83.842290,87.295606,79.318618,1.331889,1.300022,81.48200,20.872340,30.558629,...,4.0,3.870000,3.662842,3.611896,1.305096,1.193165,4,1.600000,1.581139,1.361286
3,5,72.324650,51.227894,58.637102,34.924853,1.444612,1.306314,121.32760,20.998358,40.053512,...,2.4,2.079231,2.352158,2.065294,1.589027,1.219461,1,1.070000,0.489898,0.270099
4,4,90.142263,58.462879,66.935044,36.272055,1.178649,1.019134,124.90825,34.237393,53.101375,...,3.0,2.571429,2.828427,2.438027,1.329661,1.083356,2,1.057143,1.000000,0.903508

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(train_data, target, test_size=0.3)

In [34]:
X_train.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature72,feature73,feature74,feature75,feature76,feature77,feature78,feature79,feature80,feature81
3768,2,51.858690,34.266823,31.692442,19.988230,0.334290,0.533600,82.09538,18.822537,41.047690,...,4.00,3.571429,3.872983,3.471416,0.661563,0.673012,2,0.714286,1.000000,0.903508
1137,4,93.530600,56.599724,68.451761,36.573884,1.168103,1.334286,141.25060,12.580321,56.763654,...,2.25,2.077107,2.213364,2.063516,1.368922,1.203075,1,0.843396,0.433013,0.266761
15309,4,89.641717,57.920761,66.695994,36.131766,1.179959,0.951068,124.11660,36.697761,52.627816,...,2.75,2.296429,2.632148,2.252581,1.342113,1.048661,2,1.100000,0.829156,0.479570
10554,3,87.468333,84.426500,82.555758,78.550862,1.041270,0.978327,71.75500,32.816000,29.905282,...,5.00,4.500000,4.762203,4.242641,1.054920,1.043757,3,1.200000,1.414214,1.500000
6742,2,71.176500,72.339300,71.161657,72.333927,0.692939,0.317063,2.90700,58.394700,1.453500,...,3.50,3.900000,3.464102,3.886567,0.682908,0.271189,1,3.300000,0.500000,0.300000

In [36]:
X_test.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature72,feature73,feature74,feature75,feature76,feature77,feature78,feature79,feature80,feature81
15866,5,102.654174,57.601702,76.169456,35.597480,1.388429,1.559000,191.200600,10.408466,65.587364,...,2.600000,2.258621,2.491462,2.204264,1.564957,1.361408,2,0.965517,0.800000,0.566610
3729,2,202.973485,200.971179,202.884579,200.892411,0.692709,0.645328,12.013831,61.650913,6.006916,...,5.000000,5.000000,5.000000,5.000000,0.693147,0.636514,0,1.666667,0.000000,0.000000
16611,6,75.283478,47.468925,59.282465,32.808988,1.592211,1.598088,122.906070,12.460320,46.845147,...,2.333333,2.095385,2.289428,2.078866,1.772139,1.388058,1,1.021538,0.471405,0.293745
12580,2,96.426091,16.613391,40.703803,10.274709,0.188775,0.692434,174.827818,0.627305,87.413909,...,4.000000,2.173913,3.464102,2.097850,0.562335,0.366925,4,1.652174,2.000000,0.815724
3838,4,76.444563,51.272799,59.356672,34.956275,1.199541,1.291770,121.327600,14.299319,43.823354,...,2.250000,2.076982,2.213364,2.063412,1.368922,1.202227,1,0.845266,0.433013,0.266563

In [37]:
y_train.head()

3768      4.55
1137     91.00
15309     3.92
10554    14.80
6742      5.30
Name: critical_temperature, dtype: float64

In [38]:
y_test.head()

15866    28.10
3729      1.84
16611    22.00
12580     4.12
3838     92.30
Name: critical_temperature, dtype: float64

In [39]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [44]:
y_predicts = model.predict(X_test)

In [42]:
y_test

15866    28.10
3729      1.84
16611    22.00
12580     4.12
3838     92.30
         ...
10768     1.80
1275      6.35
12891     9.60
1348     18.10
3058     48.00
Name: critical_temperature, Length: 5100, dtype: float64

In [43]:
from sklearn.metrics import mean_squared_error

In [46]:
mean_squared_error(y_predicts, y_test)

310.01279751754953

In [52]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [48]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [49]:
# Regressor, Regression
# Classificator, Classification

# Типы данных
# Вещественные
# Категориальные
# Порядковые
# Бинарные

# Предсказываем
# критическая температура - вещественные (регрессии)

# тип материала (эбонит, серебро...) - категориальный (классификация)
# это эбонит? (да, нет) - бинарный (классификация)

In [55]:
y_predicts = model.predict(X_test)

In [54]:
y_test

15866    28.10
3729      1.84
16611    22.00
12580     4.12
3838     92.30
         ...
10768     1.80
1275      6.35
12891     9.60
1348     18.10
3058     48.00
Name: critical_temperature, Length: 5100, dtype: float64

In [56]:
mean_squared_error(y_predicts, y_test)

93.86436608564017

In [58]:
y_predicts = model.predict(df_test)

In [61]:
pd.DataFrame(y_predicts).to_csv('answer.csv', index=False)

In [ ]:
"""
1. Загрузить данные // pd.read_csv('train.csv')
2. Обработать их // target, data_train
3. Разбить train на тестовую и тренировочную train_test_split
4. Обучить модель, проверить на mean_squared_error, accuracity
5. Если результат плачевный, то обучить другую модель, шаг 4
6. Если все ок, то предсказать для test данных
7. Сохранить данные // to_csv
8. Отправить(Опционально)
"""